.container {
  height: 100px;
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionItem {
  margin: 0 8px;
}

.flag {
  height: 24px;
}

.avatar {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin-left: 8px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.paper {
  margin-top: 10px;
  overflow-x: initial;
  overflow-y: initial;
  max-width: 250px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0px;

  & .fullname,
  .email {
    margin: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  & .fullname {
    font-weight: 600;
  }

  & .email {
    font-weight: 400;
    color: rgb(99, 115, 129);
  }
}
