.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  min-height: 600px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionItem {
  margin: 0 8px;
}

.flag {
  height: 24px;
}

.avatar {
  width: 40px;
  height: 40px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.toolbar {
  background-color: rgb(200, 250, 205);

  & .toolbarTitle {
    color: rgb(0, 171, 85);
    font-weight: 500;
  }
}

.indicator {
  background-color: rgb(0, 171, 85);
}

.tabs {
  background-color: #f4f6f8;

  & .selected {
    color: #000;
  }
}

.tableHead {
  background-color: #f4f6f8;
}

.checkbox {
  color: rgb(0, 171, 85) !important;
}

.formSearch {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;

  & .searchWrapper {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    flex: 1;
    border: 1px solid #c4c4c4;
    margin-left: 20px;
    border-radius: 4px;
    height: 56px;

    & .searchIcon {
      margin: 0 8px;
      color: #c4c4c4;
    }

    &:hover {
      border-color: #00ab55;
    }

    & .inputbase {
      width: 100%;
      padding-right: 20px;
    }
  }
}

.paperOfMenu {
  margin-top: 10px;
  overflow-x: initial;
  overflow-y: initial;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  & .menuItem {
    display: flex;
    padding: 6px 12px;
    font-size: 1rem;
    text-decoration: none;
    color: #000;

    & > p {
      padding: 0 8px;
    }

    & .delete {
      color: rgb(255, 0, 0);
    }

    & .icon {
      font-size: 1.4rem;
    }
  }
}

.tableContainer {
  min-height: 435px;
  max-width: calc(100vw - 340px);
}

.subjectNameInput {
  width: 100%;
}
